In [1]:
import pandas as pd

In [92]:
data=pd.read_csv("instagram_reach.csv")

In [3]:
data

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [4]:
data['Time since posted']

0     11 hours
1      2 hours
2      2 hours
3      3 hours
4      3 hours
        ...
95     3 hours
96     3 hours
97     3 hours
98     3 hours
99     3 hours
Name: Time since posted, Length: 100, dtype: object

In [112]:
df=pd.DataFrame(data)

In [94]:
x=[]
x=df['Time since posted']

In [100]:
type(y)

str

In [14]:
len(x)

100

In [95]:
n=[]
for i in range(0,len(x)):
    k=[int(s) for s in x[i].split() if s.isdigit()]
    n.append(k)

In [106]:
y=[]
for i in range(0,len(x)):
    y.append(''.join(map(str, n[i])))

In [108]:
n=list(map(int, y))

In [109]:
n

[11,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 7,
 7,
 8,
 9,
 11,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 2,
 2,
 2,
 2,
 2,
 2,
 20,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 14,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 7,
 24,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3]

In [110]:
data['Time since posted']=n

In [111]:
print(data.dtypes)

Unnamed: 0            int64
S.No                  int64
USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted     int64
Likes                 int64
dtype: object

In [44]:
data

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,[11],139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,[2],23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,[2],25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,[3],49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,[3],30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,[3],31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,[3],42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,[3],10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,[3],222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,[3],109

In [113]:
#x=pd.DataFrame['']
X=df[['Followers','Time since posted']]
y=df[['Likes']]

In [114]:
X

    Followers  Time since posted
0        1600                 11
1         880                  2
2         255                  2
3         340                  3
4         304                  3
..        ...                ...
95        614                  3
96        450                  3
97        182                  3
98       2039                  3
99        741                  3

[100 rows x 2 columns]

In [115]:
y

    Likes
0     139
1      23
2      25
3      49
4      30
..    ...
95     31
96     42
97     10
98    222
99    109

[100 rows x 1 columns]

In [121]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [122]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [123]:
reg.score(X_train, y_train)

0.3818542112602614

In [124]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit (X_train, y_train)
print ('Coefficients: ', regr.coef_)

Coefficients:  [[7.62817048e-03 9.37263471e+00]]

In [130]:
hat=regr.predict([[300,10]])

In [131]:
hat

array([[104.53345784]])

In [132]:
y_pre=regr.predict(X_test)

In [133]:
from sklearn import metrics
print(metrics.mean_squared_error(y_test,y_pre))

304.66077661721175